<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <!--<server>
            <id>ossrh</id>
            <username>${env.OSSRH_JIRA_USERNAME}</username>
            <password>${env.OSSRH_JIRA_PASSWORD}</password>
        </server>-->

        <server>
            <id>smartup-snapshot</id>
            <username>deploy</username>
            <password>${env.CI_DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>smartup-release</id>
            <username>deploy</username>
            <password>${env.CI_DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>smartup-snapshot-local</id>
            <username>deploy</username>
            <password>${env.CI_DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>smartup-release-local</id>
            <username>deploy</username>
            <password>${env.CI_DEPLOY_PASSWORD}</password>
        </server>

    </servers>

    <!--<profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>${env.GPG_KEY_NAME}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>-->
</settings>
